<ion-view title="Balance">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
   <div class="list">

  <div class="item item-divider">
    Current Balance
  </div>

  <a class="item" href="#">
    {{balance}} USD
  </a>
  
  <label class="item item-input">
	<input type="hidden" id="current" value="{{balance}}">
    <input type="text" placeholder="Amount, Ex: 1500" id="deposit">
  </label>

</div>

<button class="button button-block button-balanced" ng-click="deposit()">
  Deposit  Funds
</button>



  </ion-content>
</ion-view>
