<ion-view  hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <a class="button" href="#/app/balance">{{balance}} USD</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
	  <div class="item item-input-inset">
		<label class="item-input-wrapper">
		  <input type="text" placeholder="Stock Symbol Ex: GOOG" id="symbol">
		</label>
		<button class="button button-small" ng-click="addStock()">
		  Add
		</button>
	  </div>
	
	  <div class="item item-button-right" ng-repeat="stock in stocks">
		{{stock.Name}} - {{stock.LastTradePriceOnly}}
		<input type="hidden" value="{{stock.Name}}" id="{{stock.symbol}}_name">
		<input type="hidden" value="{{stock.LastTradePriceOnly}}" id="{{stock.symbol}}_price">
		<button class="button button-positive" ng-click="buy('{{stock.symbol}}')">
		  Buy
		</button>
	  </div>
	</div>
	
	
  </ion-content>
</ion-view>
